.button {
  border: none;
  color: var(--var-color-white);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--var-font-size-medium);
  cursor: pointer;
}

// Small buttons
.light {
  background-color: var(--var-color-blue-light);
}
.medium {
  background-color: var(--var-color-blue-medium);
}
.dark {
  background-color: var(--var-color-blue-dark);
}
.white {
  background-color: var(--var-color-white);
  border: 1px solid var(--var-color-blue-medium);
  color: var(--var-color-blue-medium);
}

.large {
  padding: 1.2rem 11.8rem;
}

.small {
  padding: 1.2rem 2.4rem;
}
