// COLOR VARIABLES
:root {
  --var-color-blue-light: rgba(158, 158, 250, 1);
  --var-color-blue-medium: rgba(61, 61, 245, 1);
  --var-color-blue-dark: rgba(31, 31, 122, 1);

  --var-color-white: rgba(255, 255, 255, 1);
  --var-color-gray: rgba(128, 128, 128, 1);
  --var-color-black: rgba(0, 0, 0, 1);

  --var-color-red-light: rgba(242, 140, 140, 1);
  --var-color-red-medium: rgba(229, 26, 26, 1);
  --var-color-red-dark: rgba(195, 34, 34, 1);

  // OPACITY

  --var-opacity-medium: 0.25;
}
