.icon {
  width: 2rem;
  height: 2rem;
}

.primary {
  background: url('../../img/img1.png') no-repeat;
}

.secondary {
  background: url('../../img/img2.png') no-repeat;
}

.tertiary {
  background: url('../../img/img3.png') no-repeat;
}

.quaternary {
  background: url('../../img/img4.png') no-repeat;
}
