.html {
  box-sizing: border-box;
  font-size: 62, 5%; //1rem = 10px
}

// COLOR VARIABLES

$color-blue-light: rgba(158, 158, 250, 1);
$color-blue-medium: rgba(61, 61, 245, 1);
$color-blue-dark: rgba(31, 31, 122, 1);

$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(128, 128, 128, 1);
$color-black: rgba(0, 0, 0, 1);

$color-red-light: rgba(242, 140, 140, 1);
$color-red-medium: rgba(229, 26, 26, 1);
$color-red-dark: rgba(195, 34, 34, 1);
